<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoawo.example.moreapk">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:process=":process.main"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".Main2Activity"-->
            <!--android:label="@string/app_name2"-->
            <!--android:process=":process.sub"-->
            <!--android:icon="@mipmap/icon"-->
            <!--android:launchMode="singleInstance"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- <receiver -->
        <!-- android:name="com.android.launcher2.InstallShortcutReceiver" -->
        <!-- android:permission="com.android.launcher.permission.INSTALL_SHORTCUT"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name="com.yoawo.example.moreapk.Main2Activity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>